body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6vh;
}

h2 {
    font-size: 3vh;
    font-style: italic;
}

h3 {
    font-size: 4vh;
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    background-color: rgb(248, 242, 244);
    height: 6vh;
}

.header-button {
    font-size: 2vh;
    border-radius: 10px;
    background-color: transparent;
    border: 0px;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}

.main {
    text-align: center;
    background-color: rgb(17, 62, 31);
    color: rgb(248, 242, 244);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Open Sans', sans-serif; */
}

.main-elements {
    margin-top: -18vh;
}

.main-searchbar {
    font-size: 2.5vh;
    border: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgb(248, 242, 244);
}

.main-button {
    font-size: 2.0vh;
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
    border-color: rgb(248, 242, 244);
    border-radius: 10px;
    color: rgb(248, 242, 244);
}


.source {
    text-align: center;
}

.source-partnership-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.servings {
    text-align: center;
}

.servings-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.ingredients {
    text-align: center;
}

.ingredients-list {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;  /* Wyśrodkowanie wzdłuż osi X */
    margin-bottom: 10px; /* Odległość między buttons */
}

.ingredientsCalculated{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.partnership {
    text-align: center;
    background-color: rgb(248, 242, 244);
    height: 90vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.partnership-images {
    padding-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.partnership-image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}
.contact {
    color: rgb(248, 242, 244);
    background-color: rgb(17, 62, 31);
    text-align: center;
    height: 20vh;
    padding-top: 0.01vh;
}
