.header {
    text-align: right;
}

.main {
    text-align: center;
}

.source {
    text-align: center;
}

.source-partnership-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.servings {
    text-align: center;
}

.servings-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.ingredients {
    text-align: center;
}

.ingredients-list {
    width: 150px;
    height: 440px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;  /* Wyśrodkowanie wzdłuż osi X */
    margin-bottom: 10px; /* Odległość między buttons */
}

.ingredientsCalculated{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.partnership {
    text-align: center;
}

.partnership-image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.contact {
    text-align: center;
}