body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f1f1;
    color: rgb(221, 218, 210);
}

header {
    background-color: #f6f1f1;
    text-align: right;
    font-size: 20px;
}

.main {
    background-color: #7142ff;
    color: #f6f1f1;
    text-align: center;
    height: auto;
}

.main h1 {
    font-size: 17vh;
    margin-bottom: 0vh;
}

.main h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main p {
    font-size: 40px;
    font-style: italic;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    width: 350px;
    height: 20px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

button {
    padding: 10px 0px;
    color: #f6f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    background-color: #f6f1f1;
    height: 90vh;
    padding: 20px;
    justify-content: center;
}

.links h1{
    color: #303236;
    font-size: 40px;
    text-align: center;
    font-style: italic;

}
.photos{
    display: flex;
    justify-content: center;
}

.partnership-image {
    max-width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 50%;
    justify-content: center;

}

.contact {
    background-color: #7142ff;
    color: #f1eaea;
    text-align: center;
    padding: 10px;
    height: 10vh;
}

.contact h1{
    color: #f1eaea;
    font-size: 18px;
}

.contact h2{
    color: #f1eaea;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}